# üé¨ Academy Awards Analysis
## Investigating Trends in Oscar-Winning Movies
### Author: Judd Jacobs

This project analyzes historical **Academy Award-winning films** using data from **Wikipedia** (scraped via `pandas.read_html()`) and the **Kaggle Oscar Awards dataset**. 

#### **Key Analysis Areas:**
- üèÜ **Best Picture trends by genre** (from TMDb API)
- üé≠ **Box office revenue & IMDb ratings** (from Kaggle dataset)
- üìà **Long-term trends in Oscar-winning films**
- ‚òÅÔ∏è **Stretch Goal**: **Box office revenue from OMDb API** *(if available)*

In [95]:
# Import necessary libraries
import pandas as pd
import numpy as np
import requests
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from dotenv import load_dotenv
import os
from urllib.parse import quote

# Set plotting style
sns.set_style("whitegrid")

# Ensure necessary NLTK components are downloaded
nltk.download("stopwords")
nltk.download("punkt")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/juddjacobs/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/juddjacobs/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

## üóÇ Data Collection: Scraping Wikipedia
We will extract **Best Picture winners** and relevant metadata using:
- **`pandas.read_html()`** to extract the table structure.
- **`BeautifulSoup`** to identify "winning" rows based on background color.

In [87]:
# Wikipedia URL for Best Picture winners
wiki_url = "https://en.wikipedia.org/wiki/List_of_Academy_Award%E2%80%93winning_films"

# Use pandas to extract the table
tables = pd.read_html(wiki_url)

# Select the correct table, adjusting the index, as needed - which is currently the first table at index 0 (as of 20250317)
best_picture_wikipedia = tables[0]

# Print the first few rows to ensure the correct table was selected
best_picture_wikipedia.head()

             Film  Year Awards Nominations
0           Anora  2024      5           6
1   The Brutalist  2024      3          10
2    Emilia P√©rez  2024      2          13
3          Wicked  2024      2          10
4  Dune: Part Two  2024      2           5

In [88]:
# Find the Wikipedia table with BeautifulSoup
response_wikipedia = requests.get(wiki_url)
soup_wikipedia = BeautifulSoup(response_wikipedia.text, "html.parser")
wikipedia_table = soup_wikipedia.find_all("table", {"class": "wikitable"})[0]

# Extract all rows
rows = wikipedia_table.find_all("tr")

# List to store "Winner" status
winning_status = []

# Loop through rows and check for background color "#EEDD82" skipping the header row
for row in rows[1:]:
    style = row.get("style", "")
    
    # Check if the row has the background color for winners and remove spaces for consistency
    if "background:#EEDD82" in style.replace(" ", ""):
        winning_status.append("Winner")
    else:
        winning_status.append("Nominee")

# Ensure the list length matches the DataFrame
if len(winning_status) == len(best_picture_wikipedia):
    best_picture_wikipedia["Status"] = winning_status
else:
    print("List length does not match DataFrame length")

# Normalize "Status" column and filter only winners
best_picture_winners = best_picture_wikipedia[best_picture_wikipedia["Status"] == "Winner"]

# Display updated DataFrame
best_picture_winners.head(100)

                                   Film     Year Awards Nominations  Status
0                                 Anora     2024      5           6  Winner
14                          Oppenheimer     2023      7          13  Winner
27    Everything Everywhere All at Once     2022      7          11  Winner
40                                 CODA     2021      3           3  Winner
55                            Nomadland  2020/21      3           6  Winner
...                                 ...      ...    ...         ...     ...
1219                            Rebecca     1940      2          11  Winner
1323                          Tom Jones     1963      4          10  Winner
1355                    West Side Story     1961     10          11  Winner
1367                              Wings  1927/28      2           2  Winner
1385         You Can't Take It with You     1938      2           7  Winner

[97 rows x 5 columns]

In [89]:
# Connect to (or create) database
conn = sqlite3.connect("academy_awards.db")

# Save to SQLite table
best_picture_winners.to_sql("best_picture_winners", conn, if_exists="replace", index=False)
print("Data saved to SQLite database!")

Data saved to SQLite database!

The following cell is a quick check to ensure the data in the previous cell were saved to the SQLite DB.

In [90]:
# Connect to the database
conn = sqlite3.connect("academy_awards.db")

# Create a cursor object
cursor = conn.cursor()

# Execute the query and fetch all rows
cursor.execute("SELECT * FROM best_picture_winners")
rows = cursor.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the connection
conn.close()

('Anora', '2024', '5', '6', 'Winner')
('Oppenheimer', '2023', '7', '13', 'Winner')
('Everything Everywhere All at Once', '2022', '7', '11', 'Winner')
('CODA', '2021', '3', '3', 'Winner')
('Nomadland', '2020/21', '3', '6', 'Winner')
('Parasite', '2019', '4', '6', 'Winner')
('Green Book', '2018', '3', '5', 'Winner')
('The Shape of Water', '2017', '4', '13', 'Winner')
('Moonlight', '2016', '3', '8', 'Winner')
('Spotlight', '2015', '2', '6', 'Winner')
('Birdman or (The Unexpected Virtue of Ignorance)', '2014', '4', '9', 'Winner')
('12 Years a Slave', '2013', '3', '9', 'Winner')
('Argo', '2012', '3', '7', 'Winner')
('The Artist', '2011', '5', '10', 'Winner')
("The King's Speech", '2010', '4', '12', 'Winner')
('The Hurt Locker', '2009', '6', '9', 'Winner')
('Slumdog Millionaire', '2008', '8', '10', 'Winner')
('No Country for Old Men', '2007', '4', '8', 'Winner')
('The Departed', '2006', '4', '5', 'Winner')
('Crash', '2005', '3', '6', 'Winner')
('Million Dollar Baby', '2004', '4', '7', 'Winner')
('The Lord of the Rings: The Return of the King', '2003', '11', '11', 'Winner')
('Chicago', '2002', '6', '13', 'Winner')
('A Beautiful Mind', '2001', '4', '8', 'Winner')
('Gladiator', '2000', '5', '12', 'Winner')
('American Beauty', '1999', '5', '8', 'Winner')
('Shakespeare in Love', '1998', '7', '13', 'Winner')
('Titanic', '1997', '11', '14', 'Winner')
('The English Patient', '1996', '9', '12', 'Winner')
('Braveheart', '1995', '5', '10', 'Winner')
('Forrest Gump', '1994', '6', '13', 'Winner')
("Schindler's List", '1993', '7', '12', 'Winner')
('Unforgiven', '1992', '4', '9', 'Winner')
('The Silence of the Lambs', '1991', '5', '7', 'Winner')
('Dances with Wolves', '1990', '7', '12', 'Winner')
('Driving Miss Daisy', '1989', '4', '9', 'Winner')
('Rain Man', '1988', '4', '8', 'Winner')
('The Last Emperor', '1987', '9', '9', 'Winner')
('Platoon', '1986', '4', '8', 'Winner')
('Out of Africa', '1985', '7', '11', 'Winner')
('Amadeus', '1984', '8', '11', 'Winner')
('Terms of Endearment', '1983', '5', '11', 'Winner')
('Gandhi', '1982', '8', '11', 'Winner')
('Chariots of Fire', '1981', '4', '7', 'Winner')
('Ordinary People', '1980', '4', '6', 'Winner')
('Kramer vs. Kramer', '1979', '5', '9', 'Winner')
('The Deer Hunter', '1978', '5', '9', 'Winner')
('Annie Hall', '1977', '4', '5', 'Winner')
('Rocky', '1976', '3', '10', 'Winner')
("One Flew Over the Cuckoo's Nest", '1975', '5', '9', 'Winner')
('The Godfather: Part II', '1974', '6', '11', 'Winner')
('The Sting', '1973', '7', '10', 'Winner')
('The Godfather', '1972', '3', '10[4]', 'Winner')
('The French Connection', '1971', '5', '8', 'Winner')
('Patton', '1970', '7', '10', 'Winner')
('Midnight Cowboy', '1969', '3', '7', 'Winner')
('Oliver!', '1968', '5 (1)', '11', 'Winner')
('In the Heat of the Night', '1967', '5', '7', 'Winner')
('A Man for All Seasons', '1966', '6', '8', 'Winner')
('The Sound of Music', '1965', '5', '10', 'Winner')
('All About Eve', '1950', '6', '14', 'Winner')
('All Quiet on the Western Front', '1929/30', '2', '4', 'Winner')
("All the King's Men", '1949', '3', '7', 'Winner')
('An American in Paris', '1951', '6', '8', 'Winner')
('The Apartment', '1960', '5', '10', 'Winner')
('Around the World in 80 Days', '1956', '5', '8', 'Winner')
('Ben-Hur', '1959', '11', '12', 'Winner')
('The Best Years of Our Lives', '1946', '7 (1)', '8', 'Winner')
('The Bridge on the River Kwai', '1957', '7', '8', 'Winner')
('The Broadway Melody', '1928/29', '1', '3', 'Winner')
('Casablanca', '1943', '3', '8', 'Winner')
('Cavalcade', '1932/33', '3', '4', 'Winner')
('Cimarron', '1930/31', '3', '7', 'Winner')
('From Here to Eternity', '1953', '8', '13', 'Winner')
("Gentleman's Agreement", '1947', '3', '8', 'Winner')
('Gigi', '1958', '9', '9', 'Winner')
('Going My Way', '1944', '7', '10', 'Winner')
('Gone with the Wind', '1939', '8 (2)', '13', 'Winner')
('Grand Hotel', '1931/32', '1', '1', 'Winner')
('The Great Ziegfeld', '1936', '3', '7', 'Winner')
('The Greatest Show on Earth', '1952', '2', '5', 'Winner')
('Hamlet', '1948', '4', '7', 'Winner')
('How Green Was My Valley', '1941', '5', '10', 'Winner')
('It Happened One Night', '1934', '5', '5', 'Winner')
('Lawrence of Arabia', '1962', '7', '10', 'Winner')
('The Life of Emile Zola', '1937', '3', '10', 'Winner')
('The Lost Weekend', '1945', '4', '7', 'Winner')
('Marty', '1955', '4', '8', 'Winner')
('Mrs. Miniver', '1942', '6', '12', 'Winner')
('Mutiny on the Bounty', '1935', '1', '8', 'Winner')
('My Fair Lady', '1964', '8', '12', 'Winner')
('On the Waterfront', '1954', '8', '12', 'Winner')
('Rebecca', '1940', '2', '11', 'Winner')
('Tom Jones', '1963', '4', '10', 'Winner')
('West Side Story', '1961', '10', '11', 'Winner')
('Wings', '1927/28', '2', '2', 'Winner')
("You Can't Take It with You", '1938', '2', '7', 'Winner')

In [ ]:
# Create a List of the "Films"
movie_titles = best_picture_winners["Film"].tolist()
movie_titles

## üé≠ Fetching Genres from TMDb API
We will use **The Movie Database (TMDb) API** to retrieve **movie genres** for Best Picture winners.

In [ ]:
# Load environment variables from .env file
load_dotenv()

# Access the TMDB API keys stored in the .env file and define them here
tmdb_api_key = os.getenv('TMDB_API_KEY')
tmdb_api_read_access_token = os.getenv('TMBD_API_READ_ACCESS_TOKEN')

tmdb_api_base_url = "https://api.themoviedb.org/3"

# Function to get genre mappings (ID -> Name)
def get_genre_mapping():
    url = f"{tmdb_api_base_url}/genre/movie/list?language=en-US"
    headers = {"accept": "application/json", "Authorization": f"Bearer {tmdb_api_read_access_token}"}
    
    response = requests.get(url, headers=headers)
    data = response.json()
    
    if "genres" in data:
        return {genre["id"]: genre["name"] for genre in data["genres"]}
    return {}

# Function to query TMDB API and get genre names for movies
def get_movie_genres(film_titles):
    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {tmdb_api_read_access_token}"}
    genre_mapping = get_genre_mapping()  # Fetch genre ID-to-name mapping
    
    movie_genres = {}  # Store results

    for title in film_titles:
        encoded_title = quote(title)  # Encode spaces and special characters
        
        url = f"{tmdb_api_base_url}/search/movie?query={encoded_title}&include_adult=false&language=en-US&page=1"
        response = requests.get(url, headers=headers)
        data = response.json()
        
        if "results" in data and data["results"]:
            # Ensure exact match
            exact_match = next((movie for movie in data["results"] if movie["title"] == title), None)
            
            if exact_match:
                genre_ids = exact_match["genre_ids"]
                genre_names = [genre_mapping.get(gid, "Unknown Genre") for gid in genre_ids]
                movie_genres[title] = genre_names
            else:
                movie_genres[title] = ["No exact match found"]
        else:
            movie_genres[title] = ["No results found"]
    
    return movie_genres

# Get genre names for each movie
genre_results = get_movie_genres(movie_titles)

# Convert to DataFrame for better visualization
df = pd.DataFrame(list(genre_results.items()), columns=["Title", "Genres"])
print(df)

                                Title                                 Genres
0                               Anora               [Drama, Comedy, Romance]
1                         Oppenheimer                       [Drama, History]
2   Everything Everywhere All at Once   [Action, Adventure, Science Fiction]
3                                CODA                [Drama, Music, Romance]
4                           Nomadland                                [Drama]
..                                ...                                    ...
92                            Rebecca    [Romance, Drama, Mystery, Thriller]
93                          Tom Jones  [Comedy, Adventure, History, Romance]
94                    West Side Story                [Crime, Drama, Romance]
95                              Wings          [Drama, Action, War, Romance]
96         You Can't Take It with You                      [Comedy, Romance]

[97 rows x 2 columns]

In [ ]:
# Function to store movie data in SQLite
def store_movie_data(movie_data) -> None:
    # Create/connect to the database
    conn = sqlite3.connect("academy_awards.db")
    cursor = conn.cursor()

    # Create table if it doesn't exist
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS movies (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            title TEXT,
            release_date TEXT,
            overview TEXT,
            vote_average REAL,
            tmdb_id INTEGER UNIQUE
        )
    ''')

    # Extract movie details from API response
    if movie_data and movie_data.get("results"):
        for movie in movie_data["results"]:
            tmdb_id = movie.get("id")
            title = movie.get("title", "Unknown")
            release_date = movie.get("release_date", "N/A")
            overview = movie.get("overview", "No description available.")
            vote_average = movie.get("vote_average", 0.0)

            # Insert or ignore if the movie already exists (prevents duplicate entries)
            cursor.execute('''
                INSERT OR IGNORE INTO movies (tmdb_id, title, release_date, overview, vote_average)
                VALUES (?, ?, ?, ?, ?)
            ''', (tmdb_id, title, release_date, overview, vote_average))

    conn.commit()
    conn.close()

# List of movies to fetch
movies_list = film_titles

# Loop through each movie, fetch data, and store in the database
for movie in movies_list:
    data = fetch_movie_data(movie)
    if data:
        store_movie_data(data)

print("Movie data successfully stored in SQLite database!")

Movie data successfully stored in SQLite database!

In [19]:
# Connect to the database
conn = sqlite3.connect("academy_awards.db")

# Create a cursor object
cursor = conn.cursor()

# Execute the query and fetch all rows
cursor.execute("SELECT * FROM movies")
rows = cursor.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'Titanic', '1953-04-11', 'Unhappily married, Julia Sturges decides to go to America with her two children on the Titanic. Her husband, Richard also arranges passage on the luxury liner so as to have custody of their two children. All this fades to insignificance once the ship hits an iceberg.', 6.6, 16535)
(2, 'Titanic', '1943-11-10', "In 1912, the Titanic embarks on its inevitable collision course with history. In the wake of the over-spending required to build the largest luxury ship in the world, White Star Line executive Sir Bruce Ismay schemes to reverse the direction of his company's plummeting stock value. Onboard the Titanic, brave German 1st Officer Petersen struggles to convince his self-important British superiors not to overexert the ship's engines.", 6.1, 11021)
(3, 'Titanic', '1997-11-18', "101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fianc√©. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death‚Äîon its first and last voyage‚Äîon April 15, 1912.", 7.905, 597)
(4, 'Titanic', '2023-02-07', 'This documentary explores the incredible history of the Titanic. From the crew to its final hours, Titanic chronicles this incredible story like never before. Get ready for Titanic.', 7.9, 1124589)
(5, 'Titanic', '1984-01-01', '', 7.0, 357517)
(6, 'Titanic', '2018-12-21', '"Titanic" is a Punjabi feature film. It is family movie. "Titanic" is based on a young boy\'s life whose dreams are so high. He wants to join Indian Navy. Unfortunately his life completely changed due to week financial conditions at home. He starts his work at low level driving of Autoriksha. He works so hard and he faces many obstacles in this work. At the end he accepted that his vehicle is submarine for him.', 8.1, 760524)
(7, 'Titanic', '', '', 8.3, 455679)
(8, 'Titanic: The Legend Goes On...', '2000-09-15', 'An animated retelling of the worst passenger ship disaster in history. In this version, love blossoms between the upper-class Sir William and the blue-collar Angelica, who is hoping to find romance in America. At the same time, there are also a number of animal passengers, including talking dogs, cats and mice, who are also looking forward to arriving in the New World.', 2.8, 71235)
(9, 'The Chambermaid on the Titanic', '1997-10-10', 'Horty, a French foundry worker, wins a contest and is sent to see the sailing of the Titanic. In England, Marie, saying she is a chambermaid on the Titanic and cannot get a room, asks to share his room. They do, chastely; when he awakens, she is gone, but he sees her at the sailing and gets a photo of her. When he returns home, he suspects that his wife Zoe has been sleeping with Simeon, the foundry owner. Horty goes to the bar, where his friends get him drunk and he starts telling an erotic fantasy of what happened with him and Marie, drawing a larger audience each night.', 6.2, 115872)
(10, 'Titanic, Suitable Version for Iranian Families', '2023-09-20', 'A complex and sometimes combative exchange at an Iranian broadcaster over a certain Hollywood blockbuster disguises deeper ruptures, in Farnoosh Samadi‚Äôs wry and subtly provocative drama.', 9.0, 1173502)
(11, 'The Blind Man Who Did Not Want to See Titanic', '2021-09-10', "Jaakko and Sirpa have never met face to face, but talk on the phone every day. When Jaakko hears news about Sirpa's declining health, he decides to go meet her in another city. It's not the easiest decision, because he's blind and paralyzed from the chest down  - and he has to make the journey alone. To get there, Jaakko must rely on the help of five strangers. What could go wrong?", 7.244, 716855)
(12, 'Titanic: Into the Heart of the Wreck', '2020-12-17', 'The Titanic is under a new threat. Resting at over 12,500 feet below sea level and 380 nautical miles off the coast of Newfoundland, the most famous shipwreck in the world is being consumed by a colony of iron-eating bacteria. This slow and irreversible decay, according to the most concerned experts, will sweep away all the secrets of the mythic liner within a few decades. This documentary details the underwater odyssey of the greatest Titanic expeditions and the evolution of the most scrutinized shipwreck in the world. From the epic discovery of the wreck by a French-American team in 1985 to the exploratory missions led by James Cameron, and to the treasure hunts that brought back over 5,000 vestiges‚Äìexperience the unequaled thrill of these extreme dives through the eyes of the explorers who have attempted to unlock Titanic‚Äôs secrets.', 7.6, 777797)
(13, 'Titanic II', '2010-08-07', 'On the 100th anniversary of the original voyage, a modern luxury liner christened "Titanic 2," follows the path of its namesake. But when a tsunami hurls an ice berg into the new ship\'s path, the passengers and crew must fight to avoid a similar fate.', 5.0, 44918)
(14, 'The Ten Lives of Titanic the Cat', '2007-10-31', 'A young girl finds excitement over the prospect of an ocean cruise, suddenly offset by a series of bizarre visions.', 5.4, 45891)
(15, 'Attack on Titan II: End of the World', '2015-09-01', 'Eren Yeager leaves to restore a break in the wall destroyed by a Titan. He comes under attack by the Titans and is cornered. Shikishima comes to his aid. The titans never stops attacking.  Eren is now injured and tries to protect Armin, but is swallowed by a titan. A Titan with black hair appears and begins to expel the other titans.', 6.1, 340382)
(16, 'Attack on Titan', '2015-08-01', '100 years ago, titans suddenly appeared on Earth. Soon, human civilization veered on collapse due to the titans. Humans then built a giant wall to defend themselves. Within the giant walls, humans lived in peace, but, 100 years later, the giant wall is broken.', 6.1, 295830)
(17, 'The Legend of the Titanic', '1999-04-17', 'Old Grandpa mouse tells to his grandchildren the "real" story of the Titanic disaster, including evil sharks, a giant octopus, and an evil whaling scheme.', 3.3, 44310)
(18, 'Raise the Titanic', '1980-08-01', 'To obtain a supply of a rare mineral, a ship raising operation is conducted for the only known source, the Titanic.', 5.3, 24575)
(19, 'Titanic Disaster', '1912-01-01', "Incredibly fascinating documentary short that is a truly historic film. We see the actual Titanic leaving for its last voyage and also all the aftermath of the tragedy. We get to view various interesting aspects including seeing Captain Smith minutes before the boat sails, the Mary Sculley and the Carpathia in action, the Carpathia returning to the shore with survivors, Captain Rostrum of the Carpathia, family members at the White Star Office in NY waiting for news and even some of the survivors pulled off the lifeboats. Anyone interested in this historic event would certainly find this film fascinating and it's pretty sad and spooky to watch it today.", 5.763, 420341)
(20, 'Unsinkable: Titanic Untold', '2024-03-10', 'The true story of rushed investigations, political interference, and the grasp for corporate accountability woven amongst heart wrenching flashbacks of the Titanic disaster as it unfolded.', 5.0, 1159452)
(21, 'Inception', '2010-07-15', 'Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person\'s idea into a target\'s subconscious.', 8.369, 27205)
(22, 'The Crack: Inception', '2019-10-04', 'Madrid, Spain, 1975; shortly after the end of the Franco dictatorship. Six months after the mysterious death of his lover, a prestigious tailor, a married woman visits the office of the young Germ√°n Areta, a former police officer turned private detective, to request his professional services.', 6.7, 613092)
(23, 'Inception: The Cobol Job', '2010-12-07', 'This "Inception" prequel unfolds courtesy of a beautiful Motion Comic, and explains how Cobb, Arthur and Nash were enlisted by Cobol Engineering.', 7.3, 64956)
(24, 'Syndrome Halla, the Inception of Croatian Professional Film ‚Äì Born to Die', '2017-01-01', 'One hundred years after the invention of film, Croatian film icon Mr. Fulir, who serves as the author‚Äôs alter-ego, comes up with the Faustian idea to bring back his youth. With a group of famous actors, he enthusiastically attempts to remake lost Croatian films from the silent era.', 0.0, 1370380)
(25, 'The Inception of Dramatic Representation', '', 'On certain Adavus: the basic steps in Bharatanatyam. The first part covers Tatta Adavu, Natta Adavu, Visharu Adavu , Tatti Metti Adavu and Teermanam Adavu.', 5.8, 350632)
(26, 'Inception', '1980-01-23', 'This film shows how ordinary people work to build the Erdenet factory, and how the finished product becomes the result of collective labor, and tells about the friendship of workers from Mongolia.', 0.0, 1359046)
(27, 'Bikini Inception', '2015-05-19', "Two flunky Janitors in an Arctic Lab perform unauthorized experiments transporting them to a beach dream world in Malibu California w/50 beautiful young girls and a female Brazilian PhD Student wearing only a bra and panties. A '67 Muscle car races chases horses guns fights surfing, sumo wrestler, wolf monster, underwater scenes tons of gorgeous models. Sexy sci-fi fun.", 7.0, 542438)
(28, 'Inception: Music from the Motion Picture', '2010-12-07', 'The Special Features Blu-ray disc contains a lossless DTS-HD MA 5.1 surround mix of the Inception soundtrack.', 6.0, 973484)
(29, 'WWA The Inception', '2001-10-26', 'The first World Wrestling Allstars pay per view, live from Sydney, Australia! A tournament titled "7 Deadly Sins", each round having a stipulation match, the winner will be crowned the first ever WWA Heavyweight Champion! Wrestlers such as Jeff Jarrett, Road Dogg, Jerry Lawler all compete in the tournament, with the WWA Commissioner, Bret Hart not too far away to make sure nothing gets to far out of hand!', 3.1, 250845)
(30, 'Avatar', '2009-12-15', 'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.', 7.587, 19995)
(31, 'Avatar', '2006-04-11', 'Tension mounts between a quadraplegic man and his wife as she prepares a bath for him.', 5.906, 1096978)
(32, 'Avatar', '1916-03-06', "Based on Th√©ophile Gautier's novel of the same name, the film tells of the tragic love affair of Ottavio de Saville. He falls madly in love with Madame Prascovie Labinska, a woman very faithful to her husband, the Polish count Olaf Labinski. Alarmed by the growing physical and mental weariness of the desperate young man, his relatives and friends decide to turn to Doctor Balthazar, who has just returned from a trip to the Indies where he was initiated into the secrets of Brahman.", 4.5, 1295181)
(33, 'Avatar: Creating the World of Pandora', '2010-02-07', "The Making-of James Cameron's Avatar. It shows interesting parts of the work on the set.", 6.405, 111332)
(34, 'Avatar: The Way of Water', '2022-12-14', 'Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.', 7.606, 76600)
(35, 'Avataro Sentai Donbrothers vs. Zenkaiger', '2023-05-03', 'Divided into three acts, the first act is about the Zenkaigers dealing with a new Kashiwa Mochi World and Zocks declares himself as "Kashiwa Mochi King", the ruler of Zenkaitopia?! In the second act, it\'s been a year since Taro left and the five companions continue to fight as a team with Jiro as their leader. Taro later regains his memories, only for his companions to ask him to leave the Donbrothers. In the final act, an incident caused the two worlds to connect, thus a full-throttle miracle battle between the two Super Sentai begins!', 4.5, 1092060)
(36, "The King's Avatar: For the Glory", '2019-08-16', "In this prequel to the animated series The King's Avatar, Ye Xiu enters into the pro gaming world of Glory, and competes in the first Pro League series tournament.", 6.4, 613200)
(37, 'My Avatar and Me', '2010-11-10', 'is a creative documentary-fiction film and a film that might expand your sense of reality. It is the story about a man who enters the virtual world Second Life to pursue his personal dreams and ambitions. His journey into cyberspace becomes a magic learning experience, which gradually opens the gates to a much larger reality.', 5.325, 100287)
(38, 'Avataro Sentai Donbrothers vs. Avataro Sentai Donburies', '2023-11-05', "The Avataro Sentai Donburies, which first appeared in Avataro Sentai Donbrothers' press conference gets a TTFC special!", 5.1, 1132450)
(39, 'Avatara Purusha: Part 1', '2022-05-06', "When a son of an Ayurveda scholar goes missing, he blames his sister and cuts all ties with her. When the latter's daughter decides to set things right with a devious plan, there seems to be more trouble waiting for the family.", 4.875, 677528)
(40, 'The Botanical Avatar of Mademoiselle Flora', '1965-05-05', 'A young woman lives sadly in a small garrison town with a soldier. Little by little, won over by boredom, sadness, total inaction, she develops a relationship with plants and starts talking to plants.', 5.438, 926519)
(41, 'Avatar: The Exchange of Souls', '1964-01-01', 'Count Olgierd ≈Åabi≈Ñski lives with his beloved wife in Paris in a beautiful palace. The Countess recalls her stay in Florence and her insistent admirer Octavius \u200b\u200bde Saville. Soon, Octavius, arrives in Paris and calls for the famous Dr. Cherbonneau, suspected of being a charlatan.  Citing the teachings of the East, Cherbonneau offers the patient an "avatar", a reincarnation of the soul, which takes a different body...', 4.8, 155444)
(42, 'Avatar', '2011-04-30', 'Michiko lost her dad in a car accident when she was 10 years old. After the car accident, Michiko has lived with her mother Kyoko. Michiko, now in her 2nd year of high school, gets a cell phone from her mother as a birthday present. Michiko is so excited to have her very first cell phone. Soon afterwards, she is forced into joining social networking site "AvaQ" by classmate, and queen of the classroom, Taeko.', 5.42, 282908)
(43, 'Avatara Purusha 2', '2024-04-05', 'In a battle of mantras, Dharka and Brahma vie for the Trishanku Mani. But when Jois is found dead, the disturbed Ashta Dhigbandana alerts Dharka to the stone`s presence in the house. Now, a junior artist posing as the long-lost son must fight to save the family from the real son`s dark magic', 3.833, 1268164)
(44, 'Hunan: The Other World of Avatar', '2015-01-01', "How China's magical Zhangjiajie National Park attracted director James Cameron, who came seeking inspiration for a mysterious fictional planet.", 4.667, 829860)
(45, 'Avatar 4', '2029-12-19', 'The fourth installment of the Avatar franchise.', 0.0, 216527)
(46, 'Capturing Avatar', '2010-11-16', "Capturing Avatar is a feature length behind-the-scenes documentary about the making of Avatar. It uses footage from the film's development, as well as stock footage from as far back as the production of Titanic in 1995. Also included are numerous interviews with cast, artists, and other crew members. The documentary was released as a bonus feature on the extended collector's edition of Avatar.", 7.0, 183392)
(47, 'Avatar 5', '2031-12-17', 'The fifth installment of the Avatar franchise.', 0.0, 393209)
(48, 'Gal Avatar', '2010-01-01', 'An ordinary high school student‚Äì with an incontinent grandmother and extremely horny dad, are visited by an extremely pretty avatar to preform a ‚Äúmind transfer‚Äù on Grandma. But before too long, Dad‚Äôs sniffing round to get it on with the great-shaped avatar.', 4.588, 981616)
(49, 'Avatar: Scene Deconstruction', '2009-12-18', 'The deconstruction of the Avatar scenes and sets', 6.5, 287003)
(50, 'Interstellar', '2014-11-05', 'The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.', 8.452, 157336)
(51, 'The Science of Interstellar', '2014-11-13', "Matthew McConaughey narrates a fascinating look at Christopher Nolan's sci-fi film, 'Interstellar', including scientific foundations, the work of consulting Scientist Kip Thorne, basic film themes, the science behind the search for planets capable of hosting life, space-time and the theory of relativity, the science of wormholes and black holes, crafting the film's visuals based on real scientific observation, the birth of the universe, the Dust Bowl and the evolution of dust as a toxin, the likelihood of future dust storms, the prospects of escaping a dying or doomed planet and the possibilities of colonizing Mars.", 6.7, 336592)
(52, "Interstellar: Nolan's Odyssey", '2014-11-05', "A look behind the lens of Christopher Nolan's space epic.", 7.7, 301959)
(53, 'Faster Than Light: the Dream of Interstellar Flight', '2017-06-07', '‚ÄúFaster Than Light‚Äù explores the longstanding quest to develop spacecraft with enough power and speed to reach the stars. The film asks: What will it take to reach a newly discovered planet circling our Sun‚Äôs nearest neighbor, Proxima Centauri? Based on real science and engineering, ‚ÄúFaster Than Light‚Äù takes audiences on a thrilling journey into the future, aboard laser-driven space sails, antimatter engines, and even warp drive ‚Äì right out of science fiction. ‚ÄúWho can say how far, and how fast, our technology will one day take us?‚Äù said director Thomas Lucas.', 6.0, 660698)
(54, 'Lolita from Interstellar Space', '2014-03-08', 'An undeniably beautiful alien is sent to Earth to study the complex mating rituals of human beings, which leads to the young interstellar traveler experiencing the passion that surrounds the centuries-old ritual of the species.', 5.2, 287954)
(55, 'Interstellar Wandering', '2019-08-02', 'The film tells that the catastrophe era, the earth is a waste land, the survivors are divided into wanderers and civilians, they are attached to the rule of the interstellar armed groups, in which the rogues rely on the plundering of civilian materials as a livelihood, making civilians in this harsh It is difficult to survive in the environment. After a hundred years of black technology explosion, it will bring about a civilized renaissance. In the face of the deteriorating planet, mankind is determined to continue the race and is determined to interstellar immigration. The "curvature engine" developed by the Chinese researcher Hailei has become the key to the interstellar immigration, and is also the target of robbers and interstellar armed groups.', 0.0, 649745)
(56, "Inside 'Interstellar'", '2015-03-31', 'Cast and crew of Christopher Nolan\'s "Interstellar" discuss project origins, the film\'s imagery, ambitions, incorporating IMAX footage, the human element within the film, arm shooting locations outside of Calgary, the set construction and design, working with real corn, mechanical characters, including backstory, design, the blend of practical and digital effects in bringing them to life, the differences in the characters, the human performances behind the characters, the creative process behind the film\'s music, Icelandic locations, vehicle interiors, the processes of simulating the absence of gravity, the crucial end-film visuals and influence and inspiration for future generations', 6.9, 529107)

In [ ]:
#this was my original code - the cell above is what I'm playing around with and seemed to work.
def get_movie_genre(movie_title, tmdb_api_key) -> str:
    # Fetches movie genres from TMDb API given a movie title.
    search_url = f"https://api.themoviedb.org/3/search/movie?tmdb_api_key={tmdb_api_key}&query={movie_title}"
    search_response = requests.get(search_url).json()
    
    if search_response["results"]:
        movie_id = search_response["results"][0]["id"]
        movie_url = f"https://api.themoviedb.org/3/movie/{movie_id}?tmdb_api_key={tmdb_api_key}"
        movie_response = requests.get(movie_url).json()
        
        # Extract genres
        genre_list = [genre["name"] for genre in movie_response.get("genres", [])]
        return ", ".join(genre_list)
    else:
        return "Unknown"

# Apply function to each movie in the dataset
awards_df["Genre"] = awards_df["Film"].apply(lambda title: get_movie_genre(title, tmdb_api_key))

# Display updated DataFrame with Genres
awards_df.head()

## ‚òÅÔ∏è Stretch Goal: Fetching Box Office Revenue from OMDb API
If available, we will use **OMDb API (IMDb)** to fetch **box office revenue** for Best Picture winners.

In [ ]:
# # OMDb API Key (replace with your actual key)
# omdb_api_key = "your_omdb_api_key"

# def get_box_office(movie_title, api_key):
#     """Fetches box office revenue from OMDb API given a movie title."""
#     omdb_url = f"http://www.omdbapi.com/?t={movie_title}&apikey={api_key}"
#     omdb_response = requests.get(omdb_url).json()
    
#     return omdb_response.get("BoxOffice", "N/A")

# # Apply function to each movie in the dataset
# awards_df["Box Office Revenue"] = awards_df["Film"].apply(lambda title: get_box_office(title, omdb_api_key))

# # Display updated DataFrame
# awards_df.head()

## üì• Data Collection: Kaggle Dataset
Load additional Oscar award data from a structured Kaggle dataset.

In [ ]:
# Load Kaggle dataset
kaggle_df = pd.read_csv("data/full_data.csv", sep="\t")

# Display dataset structure
kaggle_df.head()

## üõ† Data Cleaning & Storage
We will clean and merge Wikipedia & Kaggle data, then store it in an **SQLite database**.

In [ ]:
# Clean Wikipedia data
movies_df["Year"] = movies_df["Year"].str.extract(r"(\d{4})").astype(float)

# Merge Wikipedia and Kaggle data
merged_df = pd.merge(movies_df, kaggle_df, left_on="Best Picture Winner", right_on="Film", how="left")

# Save to SQLite database
conn = sqlite3.connect("academy_awards.db")
merged_df.to_sql("best_picture_winners", conn, if_exists="replace", index=False)

print("Data successfully stored in SQLite database!")

## üìä Exploratory Data Analysis
We will explore trends in **Best Picture winners** by genre and other relevant statistics.

In [ ]:
# Check unique genres in Kaggle dataset
print(kaggle_df["Genre"].unique())

# Count of Best Picture winners by genre
genre_counts = kaggle_df["Genre"].value_counts()

# Plot the genre distribution
plt.figure(figsize=(12, 6))
sns.barplot(x=genre_counts.index, y=genre_counts.values, palette="Blues_r")
plt.xticks(rotation=45)
plt.xlabel("Genre")
plt.ylabel("Number of Wins")
plt.title("Best Picture Wins by Genre")
plt.show()

## üí∞ Box Office & IMDb Ratings
We will analyze **box office revenue** and IMDb ratings of Best Picture winners.

In [ ]:
# Scatter plot: Box Office Revenue vs IMDb Ratings
plt.figure(figsize=(10, 6))
sns.scatterplot(x=kaggle_df["BoxOffice"], y=kaggle_df["IMDb Rating"], hue=kaggle_df["Year"], palette="coolwarm")
plt.xlabel("Box Office Revenue (in millions)")
plt.ylabel("IMDb Rating")
plt.title("Box Office Revenue vs IMDb Ratings for Best Picture Winners")
plt.show()

## ‚òÅÔ∏è Stretch Goal: Word Cloud (Wikipedia Movie Summaries)
If Wikipedia summaries are accessible, generate a **word cloud** from commonly used words in movie descriptions.

In [ ]:
# Sample Wikipedia summary text (replace with actual summaries if available)
sample_text = "This is a sample summary of a Best Picture-winning film. It tells the story of love, ambition, and success."

# Tokenize & remove stopwords
tokens = word_tokenize(sample_text.lower())
filtered_words = [word for word in tokens if word.isalnum() and word not in stopwords.words("english")]

# Generate Word Cloud
wordcloud = WordCloud(width=800, height=400, background_color="white").generate(" ".join(filtered_words))

# Display Word Cloud
plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.title("Word Cloud of Wikipedia Movie Summaries")
plt.show()

In [ ]:
oscars = pd.read_csv("data/oscars.csv", sep='\t', on_bad_lines='skip')
oscars = oscars.dropna()
oscars = oscars.drop_duplicates()
oscars = oscars.reset_index(drop=True)

# Step 3: Data Cleaning

In [ ]:
# Clean movie metadata
def clean_movie_data(df):
    """
    Handle missing values and standardize column names in the movie dataset.
    """
    df.dropna(subset=["title", "release_year"], inplace=True)
    df.fillna({"box_office": 0, "runtime": df["runtime"].median()}, inplace=True)
    return df

# Clean speech transcripts (stretch goal)
# def preprocess_speech_text(text):
#     """
#     Tokenize and clean Oscar acceptance speech text for word frequency analysis.
#     """
#     nltk.download("stopwords")
#     nltk.download("punkt")
#     tokens = word_tokenize(text.lower())  # Convert to lowercase and tokenize
#     filtered_words = [word for word in tokens if word.isalnum() and word not in stopwords.words("english")]
#     return " ".join(filtered_words)

# speech_df["cleaned_speech"] = speech_df["speech_text"].apply(preprocess_speech_text)

In [ ]:
# Step 4: Store Data in SQLite Database
conn = sqlite3.connect("academy_awards.db")
awards_df.to_sql("awards", conn, if_exists="replace", index=False)
speech_df.to_sql("speeches", conn, if_exists="replace", index=False)

In [ ]:
# Step 5: SQL Queries & Analysis
## Query genres of Best Picture winners over decades
query = """
SELECT genre, COUNT(*) AS num_wins, strftime('%Y', award_year) AS decade
FROM awards
WHERE category = 'Best Picture'
GROUP BY genre, decade
ORDER BY decade ASC;
"""
genre_trends_df = pd.read_sql(query, conn)

## Query word frequency in acceptance speeches
query = """
SELECT cleaned_speech FROM speeches;
"""
speech_texts = pd.read_sql(query, conn)

In [ ]:
# Step 6: Data Visualization
## Bar Chart - Best Picture Wins by Genre
plt.figure(figsize=(12,6))
sns.barplot(x="genre", y="num_wins", hue="decade", data=genre_trends_df)
plt.xticks(rotation=45)
plt.title("Best Picture Wins by Genre Over Decades")
plt.show()

## Scatter Plot - Box Office vs IMDb Ratings
plt.figure(figsize=(10,5))
sns.scatterplot(x="box_office", y="imdb_rating", hue="decade", data=awards_df)
plt.title("Box Office Revenue vs IMDb Ratings for Oscar Winners")
plt.show()

## Word Cloud - Common Words in Acceptance Speeches
all_text = " ".join(speech_texts["cleaned_speech"])
wordcloud = WordCloud(width=800, height=400, background_color="white").generate(all_text)
plt.figure(figsize=(10,5))
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.title("Most Common Words in Oscar Acceptance Speeches")
plt.show()

In [ ]:
# Step 7: Conclusion & Interpretation
"""
- The bar chart shows which genres have dominated the Best Picture category over time.
- The scatter plot identifies any correlation between box office revenue and audience reception (IMDb ratings).
- The word cloud highlights common themes in Oscar speeches, reflecting industry trends and sentiments. (stretch goal)
"""

### Overview of the Analysis (examples)
- In this analysis, we explored the relationship between the race of law enforcement officers and the race of the drivers they stop. Our goal was to see if there‚Äôs any indication of bias in traffic stops based on the racial identity of the officers. To do this, we used a chi-squared test for independence, which helps us understand whether there‚Äôs a meaningful connection between these two groups.

### Results of the Chi-Squared Test
- **Chi-Squared Statistic:** We calculated a chi-squared statistic of 122.92. This high number shows that there‚Äôs a significant difference between the actual number of stops for different racial groups and what we would expect to see if there were no connection between the officer's race and the driver's race. In other words, this suggests that the patterns we observe in the data are unlikely to be just a coincidence.

- **P-Value:** The p-value we found was about 8.20e-17, which is extremely low. This tells us that the result is statistically significant since it‚Äôs much lower than the usual thresholds (like 0.05 or 0.01). A low p-value means we have strong evidence against the idea that there‚Äôs no connection between the officer's race and the driver's race.

### Interpretation of Findings
- The results show a strong connection between the race of the officer and the race of the driver being stopped. This means that a driver's chances of being stopped may change depending on the officer's race, suggesting there might be some bias in how traffic stops are carried out.

### Implications
- These findings are important for understanding how race plays a role in law enforcement. They suggest that different racial groups might be treated differently by officers during traffic stops. It's crucial to address these biases to ensure fairness and equality in policing.

### Conclusion
- The strong evidence from the chi-squared statistic and p-value emphasizes the importance of further examining law enforcement practices. Police leaders and community advocacy groups should take these findings into account when reviewing policies and training programs designed to reduce racial bias in policing.